<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="login" value="andersono@mastermaq.com.br"/>
		<add key="password" value="wDlnxY6eQYQ/JMAAOIPVCQ=="/>
		<add key="urlapi" value="http://evodev.mastermaq.com.br/botdiscord/"/>
		<add key="userdatadir" value="C:\\Users\\ander\\AppData\\Local\\Google\\Chrome\\User Data\\Default"/>
		<add key="executablepath" value="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"/>
		<add key="headless" value="false"/>
		<add key="height" value="1000"/>
		<add key="width" value="800"/>
		<add key="channel" value="https://discord.com/channels/704737085126475776/763005091997286420"/>
		<add key="timeoutClose" value="5000"/>
	</appSettings>
</configuration>